
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website - Shopping</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src ="../resources/js/DJ_Duehr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>
    <link rel="stylesheet" href="../resources/css/DJ_Duehr.css">
  </head>
  <body>
  <nav class="navigation">
      <p class="menu-item selected"><a href="home.html">Home</a></p>
      <p class="menu-item"><a href="about.html">About</a></p>
      <p class="menu-item"><a href="shop.html">Shop</a></p>
  </nav>
  	<div id="container">
  	</div>
  </body>
    <footer>
      Copyright &copy; 2018 - Duehr;
    </footer>
  </body>
</html>
